body {
  margin: 0 auto;
  max-width: 50em;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #073642;
  background-color: #EC6F7B;
}
h1,
h2,
strong {
  color: #333;
}
a {
  color: #08335e;
  text-decoration: none;
}
ul {
  margin: 0;
}
.black-to-link {
  /* from https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(51%) sepia(91%) saturate(6272%) hue-rotate(232deg) brightness(101%) contrast(100%);
}

/* New styles for last-updated */
#last-updated {
  font-style: italic;
  color: #FBDADC; /* Change this color as needed */
}